#main {
  text-align: left;
  justify-items: auto;
}

.jobs {
  padding: 3.75rem 11.75rem 7.5625rem 11.75rem;
}

@media only screen and (max-width: 1100px) {
  .jobs {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.jobs h1 {
  margin-bottom: 1rem;
}

form {
  display: grid;
  grid-template-areas: 'job-title'
                       'search';
  align-items: flex-end;
  margin-bottom: 3.125rem;
}

#main form .button {
  height: fit-content;
  padding: 1.14rem 0;
}

#job-title {
  grid-area: job-title;
  border: 1px solid black;
  margin-bottom: .75rem;
}

#search {
  grid-area: search;
}

.job-list {
  border-top: solid 1px hsla(0, 0%, 59%, 1);
}

.job {
  border-bottom: solid 1px hsla(0, 0%, 59%, 1);
  padding: 1rem 0;
}

.job h4 {
  padding-bottom: .5rem;
  line-height: 1.2;
}

#see-all-jobs {
  justify-self: center;
  margin-top: 3.6875rem;
}
